[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
paramiko = "*"
pylint = "*"
pymongo = "*"
traceback = "*"
logging = "*"
bson = "*"

[requires]
python_version = "3.7"
